name: Run_web_scraper

on:
    workflow_dispatch:
    # schedule:
    #    - cron: '*/15 * * * *' # Runs every 15 minutes

jobs:
    builds:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout Repository
            uses: actions/checkout@v3

          - name: Setup Python
            uses: actions/setup-python@v4
            with:
              python-version: '3.10'

          - name: Removing previous chrome instances on runner
            run: sudo apt purge google-chrome-stable

          - name: Install Python Packages
            run: |
              python -m pip install --upgrade pip
              pip install -r requirements.txt
          
          - name: Execute script
            run: python main.py
          
          - name: Commit Changes
            uses: stefanzweifel/git-auto-commit-action@v5
            with:
              commit_message: Update output csv
            id: auto-commit-action
